<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-License-Identifier: GPL-2.0 -->
<?if $(var.WIREGUARD_PLATFORM) = "amd64" Or $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define PlatformProgramFilesFolder = "ProgramFiles64Folder"?>
<?else?>
	<?define PlatformProgramFilesFolder = "ProgramFilesFolder"?>
<?endif?>
<?if $(var.WIREGUARD_PLATFORM) = "amd64"?>
	<?define UpgradeCode = "b3b8a6f1-1e31-4a7f-a5f8-0e8d6d9b1f01"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "x86"?>
	<?define UpgradeCode = "e0e0c0d1-2d3e-4f40-9a51-1b62c3d4e502"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "arm"?>
	<?define UpgradeCode = "f1a2b3c4-3e4f-4051-ab62-2c73d4e5f603"?>
<?elseif $(var.WIREGUARD_PLATFORM) = "arm64"?>
	<?define UpgradeCode = "a2b3c4d5-4f50-4162-bc73-3d84e5f60714"?>
<?else?>
	<?error Unknown platform ?>
<?endif?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MyAmneziaWG" Language="1033" Version="$(var.WIREGUARD_VERSION)" Manufacturer="MyAmneziaWG" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Description="MyAmneziaWG: standalone AmneziaWG client" ReadOnly="yes" />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />
		<Icon Id="wireguard.ico" SourceFile="..\ui\icon\wireguard.ico" />
		<Binary Id="customactions.dll" SourceFile="$(var.WIREGUARD_PLATFORM)\customactions.dll" />
		<Property Id="ARPPRODUCTICON" Value="wireguard.ico" />
		<Property Id="ARPURLINFOABOUT" Value="https://github.com/payanag2/my-amneziawg-windows" />
		<Property Id="ARPNOMODIFY" Value="yes" />
		<Property Id="DISABLEADVTSHORTCUTS" Value="yes" />
		<Property Id="DISABLEROLLBACK" Value="yes" />
		<Property Id="MSIDISABLERMRESTART" Value="1" />
		<Property Id="MSIRMSHUTDOWN" Value="1" />
		<MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallExecute" IgnoreRemoveFailure="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PlatformProgramFilesFolder)">
				<Directory Id="WireGuardFolder" Name="MyAmneziaWG" />
			</Directory>
			<Directory Id="ProgramMenuFolder" />
		</Directory>
		<ComponentGroup Id="WireGuardComponents">
			<Component Directory="WireGuardFolder" Id="WireGuardExecutable" Guid="1d5a0f9b-2f6e-4b8c-9a21-7e6d3c5b1a01">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\amneziawg.exe" KeyPath="yes">
					<Shortcut Id="MyAmneziaWGStartMenuShortcut" Directory="ProgramMenuFolder" Name="MyAmneziaWG" Description="MyAmneziaWG standalone client" WorkingDirectory="WireGuardFolder" Advertise="yes" />
				</File>
				<ServiceControl Id="MyAmneziaDummyService" Name="MyAmneziaWGManager" />
			</Component>
			<Component Directory="WireGuardFolder" Id="WgExecutable" Guid="2e6b1fac-3a7f-4c9d-ab32-8f7e4d6c2b12">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\awg.exe" KeyPath="yes" />
				<Environment Id="PATH" Name="PATH" System="yes" Action="set" Part="last" Permanent="no" Value="[WireGuardFolder]" />
			</Component>
			<Component Directory="WireGuardFolder" Id="WintunLibrary" Guid="3f7c2abd-4b80-4dae-bc43-9a8f5e7d3c23">
				<File Source="..\$(var.WIREGUARD_PLATFORM)\wintun.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		<Feature Id="WireGuardFeature" Title="MyAmneziaWG" Level="1"><ComponentGroupRef Id="WireGuardComponents" /></Feature>
		<CustomAction Id="CheckWow64" BinaryKey="customactions.dll" DllEntry="CheckWow64" />
		<InstallExecuteSequence><Custom Action="CheckWow64" After="FindRelatedProducts">NOT REMOVE</Custom></InstallExecuteSequence>
		<CustomAction Id="LaunchApplicationAndAbort" BinaryKey="customactions.dll" DllEntry="LaunchApplicationAndAbort" />
		<InstallExecuteSequence><Custom Action="LaunchApplicationAndAbort" After="CostFinalize">ProductState=5 AND NOT REMOVE AND NOT DO_NOT_LAUNCH</Custom></InstallExecuteSequence>
		<CustomAction Id="EvaluateWireGuardComponents" BinaryKey="customactions.dll" DllEntry="EvaluateWireGuardComponents" />
		<InstallExecuteSequence><Custom Action="EvaluateWireGuardComponents" After="ProcessComponents" /></InstallExecuteSequence>
		<CustomAction Id="KillWireGuardProcesses" BinaryKey="customactions.dll" DllEntry="KillWireGuardProcesses" Execute="deferred" Impersonate="no" />
		<InstallExecuteSequence><Custom Action="KillWireGuardProcesses" After="StopServices" /></InstallExecuteSequence>
		<CustomAction Id="LaunchApplication" HideTarget="yes" Impersonate="no" Execute="deferred" FileKey="amneziawg.exe" ExeCommand="" Return="asyncNoWait" />
		<InstallExecuteSequence><Custom Action="LaunchApplication" Before="InstallFinalize">(&amp;WireGuardFeature = 3) AND NOT DO_NOT_LAUNCH</Custom></InstallExecuteSequence>
	</Product>
</Wix>
